body {
  font-family: "Arial", sans-serif;
  font-style: normal;
  background: linear-gradient(rgba(146, 179, 214,1), rgba(146, 179, 214,0));

}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 14px;
}

table tr:nth-child(odd) td{
  background-color: #91afd7;
}
table tr:nth-child(even) td{
}

table th.bg {
  background-color: #6496d2;
}

table td.bg {
  background-color: #6496d2;
}

time {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 350px;
  margin-top: 100px;
}

* {
    box-sizing: border-box;
}

#corps {
   text-align: center;
   height:900px;
}
#res table td {
  height: 30px;
}

#meteo {
  margin-top: 100px;
}

#annonce {
  font-size: 25px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    display: inline-block;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

.red {
  color: #FF0000;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
