body {
  font-family: "Arial", sans-serif;
  font-style: normal;
  background: linear-gradient(rgba(146, 179, 214,1), rgba(146, 179, 214,0));

}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 14px;
}
tr:nth-child(even) {background-color: #91afd7;}

table td.bg {
  background-color: #6496d2;
}

time {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 400px;
  margin-top: 100px;
}

* {
    box-sizing: border-box;
}

#corps {
   text-align: center;
   height:1000px;
}
#res table td {
  height: 30px;
}

#meteo {
  margin-top: 100px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    display: inline-block;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
